header {
    margin-bottom: 6rem;
}

.height-width-border {
    height: 15em;
    max-width: 10em;
    border: .3em solid rgb(195, 195, 195);
    border-radius: 25px;
}
.padding {
    padding-top: 2em;
}
.margin {
    margin-left: 2%;
    margin-right: 2%;
}
.margin-most {
    margin-left: 21%;
    margin-right: 2%;
}
.margin-more {
    margin-left: 18%;
    margin-right: 2%;
}
.tex-ali {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.absolute {
    position: absolute;
    right: 16em;
    top: 8em;
    transform: scale(3);
}
.relative {
    position: relative;
}
.jfc {
    display: flex;
    flex-direction: row;
}
#weather {
    margin-left: 1.5em;
}